.advantages {
  padding: 100px 0;
  margin-bottom: 150px;
  &__item {
    width: 100%;
    margin-left: -6px;
    &:not(:last-child) {
      margin-bottom: 220px;
    }
  }
  &__descr {
    margin-bottom: 0;
    &--mail {
      margin-bottom: 40px;
    }
  }
  &__article {
    max-width: 445px;
  }
  &__img {
    width: 100%;
    &--news {
      width: 480px;
      height: 316px;
      margin-left: 31px;
    }
    &--mail {
      width: 445px;
      height: 312px;
      margin-left: 50px;
    }
    &--social {
      width: 540px;
      height: 387px;
    }
  }
  &__btn {
    max-width: 150px;
    width: 100%;
    font-size: 14px;
    line-height: 1.71;
    padding: 3px 2px;
  }
}
