.price {
  padding: 150px;
  text-align: center;
  &__article {
    max-width: 600px;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 18px;
  }
  &__descr {
    margin-bottom: 35px;
  }
  &__value {
    max-width: 350px;
    margin: 0 auto;
  }
  &__number {
    font-weight: 500;
    font-size: 50px;
    line-height: 1.32;
    letter-spacing: 1px;
    color: #222f65;
  }
  &__note {
    font-size: 16px;
    line-height: 1.625;
    color: #37447e;
    margin-bottom: 62px;
  }
  &__small-text {
    font-size: 14px;
    line-height: 1.71;
    color: #5d6970;
    margin-bottom: 10px;
  }
  &__btn {
    font-size: 14px;
    line-height: 1.71;
    max-width: 189px;
    width: 100%;
  }
}
