// Colors

$color-black: #000;
$color-white: #fff;
$color-black-pearl: #091133;
$color-kashmir-blue: #505f98;
$color-btn-bg: #111b47;
$color-wild-blue-yonder: #6f7cb2;

// Settings
$font-size: 16px;
$max-width: 1440px;
$max-width-container: 1110px;
