html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: $color-white;
  font-size: $font-size;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

figure,
figcaption {
  margin: 0;
  margin-block: unset;
  margin-inline: unset;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-container {
  max-width: $max-width;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.is-hidden {
  display: none;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn {
  padding: 2px 10px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  color: $color-black-pearl;
  border: 2px solid $color-black-pearl;
  &--fill {
    color: $color-white;
    background-color: $color-btn-bg;
    border: 2px solid $color-btn-bg;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $max-width-container + 30px;
  width: 100%;
}

.title {
  font-family: "Roboto", sans-serif;
  color: $color-black-pearl;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.333;
}

.text {
  font-size: 16px;
  line-height: 1.625;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.shrink-0 {
  flex-shrink: 0;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.tac {
  text-align: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcfe {
  justify-content: flex-end;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
